.container.landing-page-descriptions
  #about.featurette
    = image_tag "photo3.jpg", class: 'featurette-image img-circle img-responsive pull-right'
    -# %img.featurette-image.img-circle.img-responsive.pull-right{:src => "http://placehold.it/500x500"}/
    %h2.featurette-heading
      Manage Your
      %span.text-muted Projects
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/

  #services.featurette
    = image_tag "photo4.jpeg", class: 'featurette-image img-circle img-responsive pull-left'
    %h2.featurette-heading
      Designate
      %span.text-muted Tasks
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  %hr.featurette-divider/

  #contact.featurette
    = image_tag "photo5.jpg", class: 'featurette-image img-circle img-responsive pull-right'
    %h2.featurette-heading
      Control Project
      %span.text-muted Flow
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/
