.container.landing-page-descriptions
  #about.featurette
    = image_tag "photo3.jpg", class: 'featurette-image img-circle img-responsive pull-right'
    -# %img.featurette-image.img-circle.img-responsive.pull-right{:src => "http://placehold.it/500x500"}/
    %h2.featurette-heading
      Manage Your
      %span.text-muted Projects
    %p.lead Organize your tasks into shared projects for your initiatives, meetings, and programs. Comment directly on a task, to clarify exactly what needs to be done.
  %hr.featurette-divider/

  #services.featurette
    = image_tag "photo4.jpg", class: 'featurette-image img-circle img-responsive pull-left'
    %h2.featurette-heading
      Designate
      %span.text-muted Tasks
    %p.lead Easily create tasks for yourself or assign one to a teammate. Discuss a project’s progress to keep the momentum going.

  %hr.featurette-divider/

  #contact.featurette
    = image_tag "photo5.jpg", class: 'featurette-image img-circle img-responsive pull-right'
    %h2.featurette-heading
      Control Project
      %span.text-muted Flow
    %p.lead Track progress of your tasks thanks to statuses connected with every task.
