.row.bg-image
  .container
    .landing-page-slogan
      -provide(:title, 'Welcome to ProjectTracker!')
      %h1= yield(:title)
      %h2 Manage your projects better!
      %h2 Designate tasks, set priorities, statuses and control project flow
      .form-group
        = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg' unless current_user
= render 'descriptions'
