%h3 Comments
#comments.well
  -if comments.any?
    - comments.each do |comment|
      .comment
        %h4
          = comment.content
        %p
          = comment.user.email
        %p
          = comment.created_at
        %hr
  - else
    %p There are no comments yet.
