%h3 Comments
#comments
  -if comments.any?
    - comments.each do |comment|
      .comment
        = comment.created_at
        = comment.user.email
        = comment.content
  - else
    %p There are no comments yet.
