%h2 Project tasks
- if tasks.any?
  - tasks.each do |task|
    .well
      %h3= task.name
      %p Description
      %em= task.description
      .pull-right
        = link_to 'Show', [project, task]
- else
  %p There are no tasks yet.
= link_to 'Add new task', new_project_task_path(project)