%h2 Project tasks
- if tasks.any?
  %ul
  - tasks.each do |task|
    %li
      = link_to task.name, [project, task]
- else
  %p There are no tasks yet.

= link_to 'Add new task', new_project_task_path(project)