.alert {
    position: absolute;
    z-index: 100;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.banner {
  background: url("http://theme-background-videos.s3.amazonaws.com/blue.jpg");
  color: #fff;

  .btn-lg {
    margin-top: 15px
  }
}

main {
  margin-top: 60px;
}
