// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  margin-top: -20px;
  position: relative;
  background-image: image-url("photo.jpg");
  background-position: center;


  .landing-page-slogan {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    text-align: center;
  }

  h1, h2 {
    color: white;
  }
}

.landing-page-descriptions {
  margin-top: 80px;

  .col-md-4 {
    text-align: center;
  }

  .featurette {
    overflow: hidden;

    .featurette-image.pull-right {
      margin-right: 40px;
    }

    .featurette-image.pull-left {
      margin-right: 40px;
    }

    .featurette-divider {
      margin: 80px 0;
    }

    .featurette-heading {
      font-size: 50px;
    }

    img {
      width: 300px;
      height: 300px;
    }
  }

  .lead {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
  }

}
